.project-card-container {
    margin-bottom: 50px;
    padding: 20px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    outline-style: solid;
    outline-color: #1b8aca;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 7px 6px #000000; 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 7px 6px #000000;
}

.top-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    gap: 20px;
}

.project-name {
    text-align: left;
    font-size: 20px;
}

.link-button {
    background-color: #1b8aca;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.link-button:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 7px 6px #000000; 
    box-shadow: 0px 10px 13px -7px #383838, 0px 0px 7px 6px #383838;
}

.project-description {
    text-align: justify;
}

.card-icon {
    width: 30px;
    height: auto;
}

@media (max-width: 800px) {
    .project-card-container {
        width: 260px;
        height: 200px;
        font-size: 85%;
    }
}