.hello-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hello-card {
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    outline-style: solid;
    outline-color: #1b8aca;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 7px 6px #000000; 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 7px 6px #000000;
}

.profile-pic-container {
    margin-left: 5px;
}

.profile-pic {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.about-me-text {
    text-align: justify;
    width: 25vw;
}

.cv-container {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download-cv-button {
    background-color: #1b8aca;
    font-weight: bold;
    border-radius: 20px;
    font-size: 30px;
    padding: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.download-cv-button:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 7px 6px #000000; 
    box-shadow: 0px 10px 13px -7px #383838, 0px 0px 7px 6px #383838;
}

.languages-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.language-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    margin-bottom: 50px;
}

.top-projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}