.language-card-container {
    padding: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    border-radius: 20px;
    outline-style: solid;
    outline-color: #1b8aca;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 7px 6px #000000; 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 7px 6px #000000;
}

.language-logo {
    width: auto;
    height: 20%;
}

.language-skill {
    list-style-type: circle;
}