header {
    width: 100%;
    background-color: #1b8aca;
    z-index: 9999999;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-branding {
    margin-left: 5%;
    cursor: pointer;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    position: relative;
    z-index: 99999992;
}

.nav-links {
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.dark-mode-switch {
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 20px;
    height: 30px;
    width: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.switch-indicator {
    background-color: black;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-left: var(--margin-left);
    transition: all .1s ease-in-out;
}

.switch-icon {
    height: auto;
    width: 15px;
}

.moon {
    margin-left: 11px;
    display: var(--moon-display);
    opacity: 60%;
}

.sun {
    margin-left: 5px;
    display: var(--sun-display);
}

.hamburger {
    display: none;
    cursor: pointer;
    margin-right: 5%;
    z-index: 99999992;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
}

@media (max-width: 800px) {
    .hamburger {
        display: block;
    }
  
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-links {
        position: fixed;
        top: -200%;
        gap: 0;
        flex-direction: column;
        background-color: #1b8aca;
        width: 100%;
        text-align: center;
        transition: .5s;
        padding: 10px;
        z-index: 99999;
    }

    .nav-item {
        margin: 10px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
  
    .nav-links.active {
        left: 0;
        top: 50px;
    }
}