.navbar {
    background-color: #1b8aca;
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999999;
}

.nav-branding {
    margin-left: 5%;
    cursor: pointer;
}

.logo {
    font-size: 32px;
    font-weight: 700;
}

.nav-links {
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.nav-item {
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.nav-item:hover {
    transform: scale(1.05);
}

.dark-mode-switch {
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
    height: 30px;
    width: 60px;
    display: flex;
    align-items: center;
}

.switch-indicator {
    background-color: black;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-left: var(--margin-left);
    transition: all .1s ease-in-out;
}